@import "./../../assets/styles/variables";

.login-background {
  --background: linear-gradient(to bottom right, #{$primary}, #ff9966);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-bottom: 0;
}

.welcome-header {
  padding: 40px 20px 20px;
  color: $white;
  h2 {
    font-size: 26px;
    margin: 0;
    font-weight: bold;
    color: $black;
  }

  h3 {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
  }
}

.login-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 24px 20px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

.login-card h4 {
  text-align: center;
  font-weight: 600;
  color: #333;
}

ion-item {
  margin-bottom: 12px;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  margin: 8px 0 16px;

  a {
    color: #{$primary};
    text-decoration: none;
  }
}

.login-btn {
  --background: #{$primary};
  --border-radius: 12px;
}

.signup-text {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;

  a {
    color: #{$primary};
    text-decoration: underline;
  }
}


.login-card {
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 14px;
        color: #44444499;
      }

      input,
      select,
      textarea {
        padding: 10px 15px;
        border-radius: 12px;
        border: 1.5px solid #ccc;
        font-size: 15px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #387ef5;
        }
      }

      textarea {
        resize: vertical;
      }
    }
  }